body{
  font-family: Helvetica;
  background: #121212;
}
header{
  background:rgb(37, 37, 37);
}
form{
  background-color: #2e2e2e;
}
h1{
  font-family: 'Tangerine', sans-serif;
  
}
img{
width:200px;
}
a{
border: 2px solid orange;
padding: 5px;

}
a:hover{
background-color: black;
color: rgb(255, 238, 0);
text-decoration: none;
}
a:visited{
  color: yellow;
}
td{
width: 400px;
}
h2{
  font-family: 'Tangerine', sans-serif;
}
main{
  margin-top: 100px;
}
td img{
  position: relative;
  top: -30px;
  left: 30px;
}
#nav-url{
  position: relative;
  left: 80%;
  font-size: 18px;
  top: -15px;
}
.container img{
  margin-left: 30px;
}

h3{
  color: orange;
  text-shadow: black 2px 2px;
  font-family: Georgia;
  margin-left: 30px;
  margin-top: 50px;
}
footer{
  background-color: orange;
}
h4{
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
h6{
  font-size: 15px;
  margin-left: 30px;
}
footer td, footer h6{
  text-align: center;
}

button{
  position: relative;
  left: 50%;
  right: 50%;
  top: 50%;
  padding: 5px;
  height: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  background: rgb(255,252,0);
background: linear-gradient(90deg, rgba(255,252,0,1) 0%, rgba(249,159,2,1) 35%, rgba(255,76,0,1) 100%);
font-family: sans-serif;
}

label{
  margin-left: 5px;
  margin-bottom: 2px;
  color: white;
}

input{
  display: block;
  width: 200px;
  height: 25px;
  border-radius: 15px;
  margin-bottom: 10px;
  text-indent: 5px;
}
#submit-button-id{
  width:100px;
  height: 30px;
  margin:10px;
  padding:5px;
  font-weight: bold;
  background: rgb(255,252,0);
background: linear-gradient(90deg, rgba(255,252,0,1) 0%, rgba(249,159,2,1) 35%, rgba(255,76,0,1) 100%);
font-family: sans-serif;
}
form{
  padding:10px;
  margin-bottom: 20px;
}
legend{
  font-size: 28px;
  font-family: fantasy;
  background:linear-gradient(90deg, rgba(255,252,0,1) 0%, rgba(249,159,2,1) 35%, rgba(255,76,0,1) 100%); ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
table, tr, td{
  color: white;
}
th{
  color: orange;
}
footer td{
  color: black;
}
footer h5{
  margin-left:10px;
 
}